
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  border: 2px solid red;
  background-color: rgba(140, 46, 228, 0.883);
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;
  bottom: 20%;
  right: 40%;
  width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 39%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus, .form-container input[type=number]:focus, .form-container input[type=radio] {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit/login button */
.form-container .btn {
  background-color:  rgba(94, 178, 211, 0.925);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;

  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}